---
import Social from './Social.astro';
const lplatform="linkedin"
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
<footer>
    <Social platform="github" username="16sturkstem-lang" />
    <a href={`https://www.linkedin.com/in/sarahvturk`}>{lplatform}</a>
  </footer>